<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>All Recipes</h1>
  {{#if user}}
    <a href="/recipes/new" class="btn btn-primary">
      <i class="fas fa-plus me-2"></i>Add Recipe
    </a>
  {{/if}}
</div>

<div class="row">
  {{#each recipes}}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {{#if imageUrl}}
          <img src="{{imageUrl}}" class="card-img-top recipe-image" alt="{{title}}">
        {{/if}}
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">By {{creator.username}}</small>
            <div>
              <span class="text-warning me-1">
                {{#if ratings}}
                  {{averageRating}} <i class="fas fa-star"></i>
                {{else}}
                  No ratings yet
                {{/if}}
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent">
  <a href="/recipes/{{_id}}" class="btn btn-sm btn-outline-primary">View Recipe</a>
  {{#if ../user}}
    {{#if (eq creator._id ../user._id)}}
      <a href="/recipes/{{_id}}/edit" class="btn btn-sm btn-outline-secondary ms-1">Edit</a>
      <form action="/recipes/{{_id}}?_method=DELETE" method="POST" class="d-inline ms-1">
        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
      </form>
    {{/if}}
  {{/if}}
</div>
      </div>
    </div>
  {{else}}
    <div class="col-12">
      <div class="alert alert-info">No recipes found. Be the first to add one!</div>
    </div>
  {{/each}}
</div>